/* Styling umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container form */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Styling judul */
h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input[type="text"],
select,
textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: horizontal;
}

input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.radio-container {
    margin-top: 10px;
}

.radio-container label {
    margin-right: 10px;
}

#pesan-berhasil {
    display: none;
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 15px;
    font-family: Arial, sans-serif; 
    display: flex; 
    align-items: center; 
    opacity: 1; 
    transition: opacity 1s ease-out; 
}

#pesan-berhasil .icon {
    font-size: 18px; 
    margin-right: 8px; 
}